<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src= {{selectedItem.img}}/>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.nome}}
  </h3>
  <ion-card>
    <ion-item>
      <ion-icon name='logo-usd' item-right>
        {{selectedItem.preco}} 
      </ion-icon> 
      <ion-icon name='time'>
        {{selectedItem.tempoh}} horas
      </ion-icon>
    </ion-item>
    <ion-card-content *ngIf="selectedItem">
      Descrição:{{selectedItem.descricao}}
    </ion-card-content>
  </ion-card>
</ion-content>
