<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Termos de Uso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card>

    <ion-card-content>
      {{term}}
    </ion-card-content>
  </ion-card>
</ion-content>
