<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Pedida de Hoje</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    
    <ion-list>
      
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
          
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
