<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meu Perfil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card>

      <img src = {{perfis[0].img}}/>
      
      <ion-card-content>
        
        <ion-card-title text-center>
          {{perfis[0].nome}}
        </ion-card-title>
        <h4 text-center>
          {{perfis[0].pedidasn}}  Pedidas!
        </h4>

      </ion-card-content>
    </ion-card>
    <ion-card>

      <ion-item>

        <h3 text-center>

          <ion-icon  name='contact'></ion-icon>
            Editar meu Perfil        
        </h3>
      </ion-item>

    </ion-card>

</ion-content>