<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedido de Hoje</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>

    <ion-card *ngFor="let item of items" (click)="itemTapped($event, item)">

        <img src = {{item.img}}/>
        <ion-card-content>

          <ion-card-title>
            {{item.nome}}
          </ion-card-title>
          <ion-item>
            <ion-icon name='logo-usd' item-right>
              {{item.preco}} 
            </ion-icon> 
            <ion-icon name='time'></ion-icon>
              {{item.tempoh}} horas
            
          </ion-item>

        </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>